html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    margin: 0 auto;
    background-color: black;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0px;
    z-index: 1;
    
    background: linear-gradient(to right, #ff8800, #ffa200, #ffc300);
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center;
}

.grow-hover:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

a {
    text-decoration: none;
}

nav a:nth-child(1) {
    height: 100%;
    padding: 0 10px;
}

nav a:nth-child(1) img {
    height: 100%;
}

nav a:nth-child(2) {
    margin-left: auto;
}

nav a:not(:nth-child(1)) {
    display: flex;
    align-items: center;

    height: 50%;
    margin-right: 25px;
}

nav a:not(:nth-child(1)) img {
    height: 125%;
}

h1{
    font-family: 'Stardom', sans-serif;
    font-size: 50px;
    color: white;
}

h2{
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
}

h3{
    font-family: "Cabinet Grotesk", sans-serif;
    color: white;
}


nav a h1 {
    margin: none;
    margin-left: 5px;
}

main h1{
    margin-top: 65px;
    margin-bottom: 0px;
}

#banner {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img:nth-child(1) {
    z-index: -1;
    width: 100%;
}

#banner img:nth-child(2) {
    position: absolute;
    width: 25%;
}

#banner img:nth-child(3) {
    position: absolute;
    width: 12.5%;
}

section:not(#banner) {
    display: flex;
    flex-direction: column;
}

#section-actualites {
    align-items: center;
}

#section-boutique {
    align-items: flex-start;
    padding-left: 68px;
}

#section-evenement {
    align-items: flex-end;
    padding-right: 68px;
}

#section-roster {
    align-items: flex-end;
    padding-right: 48px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main hr {
    background: linear-gradient(to right, #ff8800, #ffa200, #ffc300, #C7ADFF, #916DD5, #7151A9);
    border: none;
    border-radius: 10px;
    height: 10px;
    position: relative;
    width: calc(100% + 50px);
    max-width: calc(100vw - 68px);
    left: calc(0% - 25px);
}

#section-boutique h1 {
    text-align: center;
}

#section-boutique div:nth-child(2) img, #section-evenement div:nth-child(2) img{
    object-fit: fill;
    /* height: 250px; */
    width: 250px;
    border-radius: 20px;
}
#section-boutique div:nth-child(2), #section-evenement div:nth-child(2){
    display: flex;
    align-items: center;
}

#section-boutique div:nth-child(2) img{
    margin-right: 65px;
}

#section-evenement div:nth-child(2) img{
    margin-left: 65px;
}

#section-boutique h2, #section-evenements h2{
    margin: 65px auto 0 auto;
}

#section-actualites h2 {
    width: 384px;
}

#section-actualites div[id="actualites"] {
    overflow-x: scroll;
    scrollbar-color: #ff8800 transparent;
    width: 100%;
    display: flex;
    margin: 0px auto;
    align-items: flex-start;
    margin-top: 65px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#section-actualites div div:not([class="border-wrapper"]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.border-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    margin: 0px 48px;

    border-radius: 10px;
    background: linear-gradient(to bottom right, #ff8800, #ffa200, #ffc300, #C7ADFF, #916DD5, #7151A9);
}

#section-actualites img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#section-boutique h2 {
    text-align: left;
    margin: 0px;
    margin-right: 65px;
}

#section-evenement h2 {
    text-align: right;
    margin: 0px;
    margin-left: 65px;
}

#section-boutique div:not([class="title"]) {
    display: flex;
    margin-top: 65px;
}

#section-boutique a, #section-evenement a {
    margin: 65px auto 20px auto;
}

main section:nth-child(5) div:not([class="title"]) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 65px;
}

.button {
    background: linear-gradient(to bottom right, #ff8800, #ffa200, #ffc300, #C7ADFF, #916DD5, #7151A9);
    color: white;
    border-radius: 50px;
    padding: 0px 50px;
    margin: 0px;
    text-align: center;
}

.carousel {
    width: 100vw;
    margin: 65px auto 20px auto;
    padding-bottom: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    gap: 65px;
    scrollbar-color: #ff8800 transparent;
}

.carousel img[id="left-arrow"],
.carousel img[id="right-arrow"] {
    position: absolute;
    width: 10vw;
    margin: auto 0px;
}

.carousel img[id="left-arrow"] {
    position: absolute;
    margin-left: 7.5vw;
}

.carousel img[id="right-arrow"] {
    position: absolute;
    margin-left: 82.5vw;
    margin-right: 5vw;
}

.carousel-image {
    /* background : linear-gradient(to bottom right, #ff8800,#ffa200,#ffc300,#C7ADFF,#916DD5,#7151A9); */
    scroll-snap-align: center;
    flex: 0 0 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image div[class="border-wrapper"] {
    /* width: calc(75vw + 20px); */
    width: auto;
    height: auto;
    padding: 2.5vw;
    border-radius: 35px;
}

.carousel-image img {
    width: 50vw;
    border-radius: 20px;
}

footer, #footer-purple, #footer-orange{
    display: flex;
    align-items: center;
}

footer p, footer h1, footer h3{
    color: white;
    font-weight: 600;
}

footer{
    height: fit-content;
    margin: 65px 0px 0px 0px;
}

#footer-purple{
    background: linear-gradient(to right, #7151A9, #916DD5, #C7ADFF);
    height: 250px;
    width: 50%;
    padding: 20px;
    justify-content: space-around;
}

#footer-orange{
    background: linear-gradient(to right, #ff8800, #ffa200, #ffc300);
    height: 250px;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#footer-orange h1{
    margin: 0px;
}
#footer-orange input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}

#footer-purple img{
    width: 20%;
}

#footer-purple div h3{
    text-align: center;
}

#socials{
    display: grid;
    margin: 10px;
    grid-template-columns: 50px 50px;
    gap: 5px;
    margin: 0px 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

#legal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#legal h3{
    margin: 10px;
}

#footer-purple div img{
    width: 50px;
}

@media (max-width: 1200px) {
    nav a h1 {
        display: none;
        height: 0;
        margin: 0;
    }
}