html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    margin: 0 auto;
    background-color: black;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0px;
    z-index: 1;

    background: linear-gradient(to right, #ff8800, #ffa200, #ffc300);
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
}

main {
    margin-top: 100px;
}

.grow-hover:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

nav a:nth-child(1) {
    height: 100%;
    padding: 0 10px;
}

nav a:nth-child(1) img {
    height: 100%;
}

nav a:nth-child(2) {
    margin-left: auto;
}

nav a:not(:nth-child(1)) {
    display: flex;
    align-items: center;

    height: 50%;
    margin-right: 25px;
}

nav a:not(:nth-child(1)) img {
    height: 125%;
}

h1 {
    font-family: 'Stardom', sans-serif;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
}

h3 {
    font-family: "Cabinet Grotesk", sans-serif;
    color: white;
}


nav a h1 {
    margin: none;
    margin-left: 5px;
}

main h1 {
    margin-top: 65px;
    margin-bottom: 0px;
}

#banner {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img:nth-child(1) {
    z-index: -1;
    width: 100%;
}

#banner img:nth-child(2) {
    position: absolute;
    width: 25%;
}

#banner img:nth-child(3) {
    position: absolute;
    width: 12.5%;
}

section:not(#banner) {
    display: flex;
    flex-direction: column;
}

#section-actualites {
    align-items: center;
}

#section-boutique {
    align-items: flex-start;
    padding-left: 68px;
}

#section-evenement {
    align-items: flex-end;
    padding-right: 68px;
}

#section-roster {
    align-items: flex-end;
    padding-right: 48px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main hr {
    background: linear-gradient(to right, #ff8800, #ffa200, #ffc300, #C7ADFF, #916DD5, #7151A9);
    border: none;
    border-radius: 10px;
    height: 10px;
    position: relative;
    width: calc(100% + 50px);
    max-width: 100vw;
    left: calc(0% - 25px);
}

#section-boutique h1 {
    text-align: center;
}

#section-boutique div:nth-child(2) img,
#section-evenement div:nth-child(2) img {
    object-fit: fill;
    width: 250px;
    border-radius: 20px;
}

#section-boutique div:nth-child(2),
#section-evenement div:nth-child(2) {
    display: flex;
    align-items: center;
}

#section-boutique div:nth-child(2) img {
    margin-right: 65px;
}

#section-evenement div:nth-child(2) img {
    margin-left: 65px;
}

#section-boutique h2,
#section-evenements h2 {
    margin: 65px auto 0 auto;
}

#section-actualites h2 {
    width: 384px;
}

#section-actualites div[id="actualites"] {
    overflow-x: auto;
    scrollbar-color: #ff8800 transparent;
    width: 100%;
    display: flex;
    margin: 0px auto;
    align-items: flex-start;
    margin-top: 65px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#section-actualites div div:not([class="border-wrapper"]) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.border-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    margin: 0px 48px;

    border-radius: 10px;
    background: linear-gradient(to bottom right, #ff8800, #ffa200, #ffc300, #C7ADFF, #916DD5, #7151A9);
}

#section-actualites img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#section-boutique h2 {
    text-align: left;
    margin: 0px;
    margin-right: 65px;
}

#section-evenement h2 {
    text-align: right;
    margin: 0px;
    margin-left: 65px;
}

#section-boutique div:not([class="title"]) {
    display: flex;
    margin-top: 65px;
}

#section-boutique a,
#section-evenement a {
    margin: 65px auto 20px auto;
}

#section-evenement div:not([class="title"]) {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 65px;
}

.button {
    background: linear-gradient(to bottom right, #ff8800, #ffa200, #ffc300, #C7ADFF, #916DD5, #7151A9);
    color: white;
    border-radius: 50px;
    padding: 0px 50px;
    margin: 0px;
    text-align: center;
}

.carousel {
    width: 100vw;
    margin: 65px auto 20px auto;
    padding-bottom: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    gap: 65px;
    scrollbar-color: #ff8800 transparent;
}

.left-arrow,
.right-arrow {
    position: absolute;
    width: 10vw;
    margin: auto 0px;
}

.left-arrow {
    position: absolute;
    margin-left: 7.5vw;
}

.right-arrow {
    position: absolute;
    margin-left: 82.5vw;
    margin-right: 5vw;
}

.carousel-image {
    /* background : linear-gradient(to bottom right, #ff8800,#ffa200,#ffc300,#C7ADFF,#916DD5,#7151A9); */
    scroll-snap-align: center;
    flex: 0 0 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image div[class="border-wrapper"] {
    /* width: calc(75vw + 20px); */
    width: auto;
    height: auto;
    padding: 2.5vw;
    border-radius: 35px;
}

.carousel-image img {
    width: 50vw;
    border-radius: 20px;
}

#searchbar {
    width: 100%;
}

#searchbar input {
    font-size: 30px;
    padding: 20px;
    width: 50%;
    margin: 50px 25%;
}

#grid-articles {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0px 50px;
    gap: 50px;
}

.article {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ff8800;
    padding: 25px;
    border-radius: 25px;
}

.article-image-2{
    display: none;
}

.article img:not([class="color-purple"]):not([class="color-orange"]) {
    object-fit: fill;
    width: 100%;
    border-radius: 12.5px;
}

.article i h2 {
    margin-bottom: 0px;
}

.article-color {
    display: flex;
    gap: 25px;
}

.article-color div {
    width: 50px;
    height: 50px;
}

.article-color div:nth-child(1) {
    background-color: #ffc300;
}

.article-color div:nth-child(2) {
    background-color: #C7ADFF;
}

.roster {
    scroll-margin-top: 100px;
    align-items: center;

}

.roster .carousel-image {
    display: flex;
    flex-direction: column;
}

.roster .carousel-image img {
    height: 400px;
    width: auto;
}

table, td, th{
    border: 1px solid white;
}

table{
    margin: auto;
    border-collapse: collapse;
    width: calc(50px * 7);
    color: white;
}

tr{
    display: flex;
}

th{
    font-family: 'Stardom', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

th h4{
    margin: 0px;
}

td{
    font-family: 'Cabinet-Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    width: 62.5px;
    height: 62.5px;
}

.calendar-point {
    margin: 0px;
    align-self: center;
    /* background-color: #ff8800; */
    width: 25px;
    height: 25px;
    border-radius: 12.5px;

}

.calendar-tooltip {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  position: absolute;
  margin-left: 12.5px;
  margin-top: -12.5px;
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.calendar-point:hover .calendar-tooltip{
    visibility: visible;
    opacity: 1;
}

.section-planning:nth-child(1){
    margin-top: 165px;
}
.section-planning {
    border-radius: 25px;
    padding: 25px;
    margin: 65px 65px 65px 65px ;
    /* width: auto; */
}

.section-planning h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

.section-planning:nth-child(odd){
    background: linear-gradient(to right, #ff8800,#ffa200,#ffc300);
}

.section-planning:nth-child(odd) .calendar-point{
    background-color: #7151A9;
}

.section-planning:nth-child(even){
    background: linear-gradient(to right, #7151A9,#916DD5,#C7ADFF);
}

.section-planning:nth-child(even) .calendar-point{
    background-color: #ff8800;  
}



footer,
#footer-purple,
#footer-orange {
    display: flex;
    align-items: center;
}

footer p,
footer h1,
footer h3 {
    color: white;
    font-weight: 600;
}

footer {
    height: fit-content;
    margin: 65px 0px 0px 0px;
}

#footer-purple {
    background: linear-gradient(to right, #7151A9, #916DD5, #C7ADFF);
    height: 250px;
    width: 50%;
    padding: 20px;
    justify-content: space-around;
}

#footer-orange {
    background: linear-gradient(to right, #ff8800, #ffa200, #ffc300);
    height: 250px;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#footer-orange h1 {
    margin: 0px;
}

#footer-orange input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}

#footer-purple img {
    width: 20%;
}

#footer-purple div h3 {
    text-align: center;
}

#socials {
    display: grid;
    margin: 10px;
    grid-template-columns: 50px 50px;
    gap: 15px;
    margin: 0px 20px;
    /* display: flex; */
    /* flex-direction: column; */
}

#legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#legal h3 {
    margin: 10px;
}

#footer-purple div a {
    width: 50px;
    height: 50px;
}

#footer-purple div img {
    width: 50px;
    height: 50px;
}

@media (max-width: 1200px) {
    nav a h1 {
        display: none;
        height: 0;
        margin: 0;
    }
}

#popup-window {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup-content {
    background-color: black;
    color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
}

#popup-text {
    overflow: auto;
    max-height: 60vh;
    scrollbar-color: #ff8800 transparent;
}

#close-button {
    color: white;
    background-color: transparent;
    border: none;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#close-button:hover {
    color: red;
}